extends layout

if reviews
  block content
    h1 Résultats de la recherche
    
    table
        tr 
          a(href='/reviews') All reviews
        if msg
          tr
            td
              strong=msg
            
        each review in reviews
          tr
            td
              a(href='/reviews/#{review.id}') +
            td
              h3= review.name
            td
              p= review.placeType
            td
              - for (var x = 0; x < review.stars; x++)
                img(src="/images/star.png" height="20")
            td
              a(href="#" class="removeReview" data-id="#{review.id}")
                img(src="/images/delete.png" height="32")